*{
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;}
.aicon
{
    background-color: #313136;
 
    padding: 5px 16px 10px 15px;
    color: white;
    border-radius:50%;
    display: inline-block;
}
.navbar{
    width: 100vw;
    display:flex;
    align-items: center;
    padding: 10px;
    background-color: #273c75;
    color: white;
    font-size:25px;
    font-weight:600;
}

.main_content{
    display: flex;
    flex-direction:column;
    padding: 60px;

}
.heading{
 
    display: flex;
    justify-content: space-between;
}
.instruction{
    font-size: 30px;
    font-weight: bold;
    color:#273c75;
    padding:10px;
}
.sub_content{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding: 30px;
    
    
}
.box{
    background-color:rgb(233, 243, 243);
    padding:15px;
    width: 100%;
}
.paragraph{
    font-size:16px;
    font-weight:12px;
    color: black;
    padding:10px;
}
.nav_icons
{
    float: right;
    display:flex;
    justify-content: center;
}

.icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-decoration: none;
}

.icon > span 
{
    padding-left: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #464646;
    padding-bottom: 1px;
}

.replay_icon
{
    font-size: 40px;    
    color: #464646;
}

a{
    text-decoration: none;
}